// Fonts


@font-face {
    font-family: 'Almarai Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai Book'), url('../fonts/Almarai-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Almarai ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai ExtraBold'), url('../fonts/Almarai-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Almarai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai Light'), url('../fonts/Almarai-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Almarai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Almarai Regular'), url('../fonts/Almarai-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Mulish Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mulish Regular'), url('../fonts/Mulish-Regular.ttf') format('truetype');
  }


  .mulish_400_normal{
      font-family: 'Mulish Regular';
      font-weight: 400;
      font-style: normal;
  }

  .almarai_700_normal{
    font-family: 'Almarai Regular';
    font-weight: 700;
    font-style: normal;
  }