.orange {
    color: #E8581B !important;
}

.me-12 {
    margin-right: .75rem;
}

.margin-bottom {
    margin-bottom: 2.375rem;
}

.gap-half {
    gap: 0.64rem;
}

.cursor-move {
    cursor: move;
}

.not-allowed {
    cursor: not-allowed;
}

.pointer {
    cursor: pointer;
}

.bg-color {
    background: #E5E5E5;
}

.self-end {
    justify-self: flex-end !important;
}

.gap-6 {
    gap: .6rem;
}

